#outer_conatiner {
}
#top_element h1 {
	text-align: center;
	color: white;
}
body {
	background-color: #024;
	font-family: arial;
}
.gradeElement {
	height: auto;
	padding: 10px;
	margin: 10px;
}
.gradeElement input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
}
.GradeHeader {
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: arial;
}
button {
  background-color: #024;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#calculate_elements{

}
#add_new_element {

}
#gradevisual {
	padding: 10px;
}
.gradeDisplay h1 {
	font-size: 100px;
	color: white;
}